[submodule "themes/academia"]
	path = themes/academia
	url = https://github.com/gethugothemes/academia-hugo.git
[submodule "themes/academia-hugo"]
	path = themes/academia-hugo
	url = https://github.com/themefisher/academia-hugo.git
